# MacOS system files
.DS_Store

# OpenTofu/Terraform local state and working dir
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Env files and secrets
.env
.env.*
.envrc
*.pem
*.key
*.crt
*.kubeconfig

# Logs
*.log

# Temporary files
.tmp/
*.secret.yaml

# Talos CLI config
talosctl/

# Exported configs
kubeconfig
talosconfig
