# This upgrades the bootstrap Cilium with additional features

kubeProxyReplacement: true

k8sServiceHost: localhost
k8sServicePort: 7445

ipam:
  mode: kubernetes

cgroup:
  autoMount:
    enabled: false
  hostRoot: /sys/fs/cgroup

securityContext:
  capabilities:
    ciliumAgent:
      - CHOWN
      - KILL
      - NET_ADMIN
      - NET_RAW
      - IPC_LOCK
      - SYS_ADMIN
      - SYS_RESOURCE
      - DAC_OVERRIDE
      - FOWNER
      - SETGID
      - SETUID
    cleanCiliumState:
      - NET_ADMIN
      - SYS_ADMIN
      - SYS_RESOURCE

operator:
  rollOutPods: true
  resources:
    limits:
      cpu: 200m
      memory: 128Mi
    requests:
      cpu: 25m
      memory: 64Mi

rollOutCiliumPods: true
resources:
  limits:
    cpu: 500m
    memory: 512Mi
  requests:
    cpu: 100m
    memory: 256Mi

l2announcements:
  enabled: true

externalIPs:
  enabled: true

loadBalancer:
  algorithm: maglev

ingressController:
  enabled: true
  default: true
  loadbalancerMode: shared
  service:
    annotations:
      io.cilium/lb-ipam-ips: 192.168.30.200
    labels:
      l2.cilium.io/ip-pool: default

hubble:
  enabled: true
  relay:
    enabled: true
    rollOutPods: true
  ui:
    enabled: true
    rollOutPods: true
