apiVersion: grafana.integreatly.org/v1beta1
kind: Grafana
metadata:
  name: grafana
  namespace: monitoring
  labels:
    dashboards: grafana
spec:
  config:
    auth:
      disable_login_form: false
    security:
      admin_user:
        valueFrom:
          secretKeyRef:
            name: grafana-admin
            key: admin-user
      admin_password:
        valueFrom:
          secretKeyRef:
            name: grafana-admin
            key: admin-password
  
  persistentVolumeClaim:
    spec:
      storageClassName: proxmox-bulk
      accessModes:
        - ReadWriteOnce
      resources:
        requests:
          storage: 5Gi
