---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: grafana-admin
  namespace: monitoring
spec:
  encryptedData:
    admin-password: AgCTgajuYnoy85yWIrSXhrkpC9FuI6gLRxdhIENF1EwoCByP8zDFtIBblCeanMbbfWKafy4tC4VUmH2nIHlXwOVecy90epAbSiMlloF6wryHeHn3sGfQWaSF1WVBOM8jlmSVGCufaf/+9jJZ+DAcYtoqwaz9ME+GqlilTxrweOCUxWyl5BzmzKnCTapNbPR38Dyt2pUdbIoqSJJKcnFIxmd1tcZLgT3HG3u3p+BGYA/IwJQ6nbRFnAhPbpKnsbZGX4lS3Y9Bd6Q9vyBLxcpHuCsdils6OOZ4X1lZ0CgM+40jdwo2ljO4rbQc7pwB1b/yjr6CaWCeoGWOctwVjgcw1mQNd8VMiR6m0SvEIJF6hyw0SB9PLExKMyfPRuq0HJPIb5fMJLa4/dzGuupWwnhh+Awu5K4nxfrgPh3Xqs8QAcdA3+0w5qd+NgFvhdWnnyF5jg9t+cu8GQcPqKxWgChOZQSR8kNucgmXaq/8TfHqVRD0aT+toMiGU/bPUGiDZnif98HB5L7l1SPq0rV99IjNZdrhotQC8Fur5uOTdoiEvTjVRuT3mQuEoLNA1cMHjU2BvkgQW0/Zib6nt2KKq6XubMssoyeHfMmd2IjgH8Yq1lqzKp5CrUpRcQlu/6dCydpHn/42xYCYoPEddWZVoyl9pbMJey1vzM1hWFnra8q2snNTNAbnTy3WOhDWiawEZrKXFQEM9iN4e6lPeqHEvu7w
    admin-user: AgBLwl+85kEnYaoisLeuAk5cqohf28ksEJ80iUz++B/U94Ig+0So23F2j8AKCy3b//8Zr0bJEN7xMl7ZAanQ/ujRqVvWk1ozf31pl/WWjdmKAkKIEBX78YbgdU8HrUwIeccOHwpFs0737v3sruTbVMoksbYm9HZxERq13MpIoM1nC6qcseUNDQl6u5RZZNudLGt+ecw52HOWT4+iN1iW51FKLyr/z7NiToypftQbOCd5EkH1GQt5loog7F2ThdIPmy41JrXJSFMIniM80ifoWrB7oHc/sZDhOel6lq5gvV+6afXkjEsVyzw2Piuq5PI+jfMlhedjKNUWyrEaxwb0TnXKR2VWqxnutCCh1OY4dRvYyjRUn8FKrYy7Z0mnKuUoweHXAHaEndJbsvvNGjsPQe4rm8GaHQJusTwYOYu7bn3g5QHYoBW/7uWFjhAM2r0+DXKYJ2vgvaraVY4+mxrykdFHtQRknX3403ciLqF4WGk1vPPZj82ogBqPq6dsnoJiJnfK9W7JagPFyD2bzNufCg6YCVDghrJHoL7WXoDahPeGhpLzlBm8itNQP314SXCn8mnDSgTfW48cqcnPX4S9cotb6RN+S3SZsYI+6/1YIeoqkzd0/4VR/hbWyLSfP8+dFDwPqjkLwzlpwd65H+Y3ypduzYQxk9+8hprTC+nba4du23TVAHlpOc6diYAtwyFh1TMQarni+A==
  template:
    metadata:
      name: grafana-admin
      namespace: monitoring
    type: Opaque
