apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: homelab-infra
  namespace: argocd
spec:
  project: default

  source:
    repoURL: https://github.com/lazercube/homelab.git
    targetRevision: main
    path: kubernetes/infra
    directory:
      recurse: true

  destination:
    server: https://kubernetes.default.svc
    namespace: argocd

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
