apiVersion: v1
kind: Secret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
stringData:
  config.yaml: |
    clusters:
      - url: "${PROXMOX_API_URL}/api2/json"
        insecure: true
        token_id: "${TOKEN_ID}"
        token_secret: "${TOKEN_SECRET}"
        region: "${REGION}"
