---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgAHS8mTVoUCPvC95sk0VtCUwqBX4LWNxQcyM4cBek6G3Pp8YeFQQgLfK/TkFMTcLVxaQOTx6VMv1GEW3ty+4CMKEU4nHXe+ghfD6M6PLmf5vj8uzmURajEN70riyhBTJslVNSr8cZfi8pz7wSUvngSMOqqXeG2oN8a7kUTtEBVGCTqdTPLeKQN7uPxewFOusgjRgsT1Uq7d8OTS3mMBtkZDk8GUyBV3uhj9urAia8NN4fERfSLdfgSo3EmruzGqRGHURTPV5+Rw9RVTwIilUKUKtnaOSYMVapZMPPEclPtjmWdGzO4PSXd7WBW4gEfLihgfX//jgPZAwlIok0tby5hcyRURAUbd12G1znuEjD6GLsfTkGl5XuVS+Wr6MlBs1dhQmdShuBQKX6Y5kxGTul44KYvNT2nf9lpPF+8dgHeYMP0SZctTPNx69C6dl1ZR1pZnOHRxag6A0VkYpwZ+eSzzjkCfI2f/hHjAwuvmoIryUmPqF3tufsQPb4Z6IrTj1jp0NT3PZrwBdsM+wagSzz4urXETCwVCgmL8aRPhLLCElKC+2O6F4orVWORYcgO3B9KA1kKgo5CQgr9UUKcqn2oao3X8E99dLE0+zzI6o692z3maTMv7HfItbcSrNRPQgiUHtTMH7FNQAATRN8ISYF0jQzjONPWTzgfgX3FQpI3+TCuQB2MsbSB3FqyGjyvaBLafxNYa4MKBJ2XwRaTZob+RL8avtQC/4SkzqSsoUd35eHTEwjRY8cuI
  template:
    metadata:
      name: cloudflare-api-token
      namespace: cert-manager
