apiVersion: grafana.integreatly.org/v1beta1
kind: GrafanaDatasource
metadata:
  name: alertmanager
  namespace: monitoring
spec:
  instanceSelector:
    matchLabels:
      dashboards: grafana
  datasource:
    name: Alertmanager
    type: alertmanager
    url: http://prometheus-kube-prometheus-alertmanager.monitoring:9093
    access: proxy
    editable: false
    jsonData:
      implementation: prometheus
