---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBaJNgY2L/bvHROa9isQz7XroxOaeEPtDBhw87h5wNMWwg6ppKKLUFrZ9ROGNMHPPXtnZZVSUOgauRy6uLxFXtX2r7G0hWP3djiGdVJgDvrmcqKOGE8SVzttSUWOuTQZ9BC9iFrSt8TxvAYPN2OM2q25goKh/NYiYzFY0EQ1NHpCCxVpl9eK9AiI7zPWnY6x/h8N1S5k4Ig5MthBLnTBQzbf2FGdTJfsOHPBjW8xHzp/yGGTCMbik5tXy+S1Q2Bn4olJybKMVRo9lRXZIkIxRUEqxzT1pcSEhUXamed9q2uASfTMoaupUdtNioVGrm+1UDGQ1FKtGyrdY4otH1JcSfzm50Jp0C5hlLsl7n33KNf6k47zLyJX+8sZnhU/s1a+JPbOrt52V4uaRjEWxAiK7BcvF4YAr7K2bO9uD8lCtRMc+7i8FSga2TIXGbni7mpfQnDqZPU6Kp05HB2Yq9oWVyc3XSQ9pplQ+Ibi/4l5T5g5Dy1G5xqpFQ+Lz6IYO99Du8oN05TbvDbihAolzAcKuLVdS6TJJ/WgcvCzuxqjYW04osF8GD75nDFk+sDlyvzepNptw8i1kXFa6nN1BL5OMhNyNKMT8LFjsS8L0FBEXW56O66J2uH/Bt0Pgqdwls//8urHgRf/rP78dXxpHCb5H1Vhurs06IcvQ7/av27POLNhB9qJwJAkm4tSqpYnas+hBvleN6DtrlZsB5u4eDtj7+1gBgExr5z4h1iQ/hBU88dxNoaDoN95knOCFP3OaJq4ODO3LKRVdD0AL/UOAvs3SGiJlFUPBRPv5YxTwtz4JbQJN8Lvf3Z+I8wCq+LE79yn02APxp4QevqMA==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
