---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgAP04lgu/hK1aPvvM4t8C/WbG7+p+Xy6/JhgxHNnWR4bE6K4KSd6uon+VTH7dtzN0TtKxP59mlKo3pf2nHb+6VrLsZRI2k8hhanwohtfk2QbyCI25uOMpn8wwbl+QcoEpBsGhko6II12aCNSGJFDnepRNNytxmNKchNVi35vms2mdyoBr3qEVpRg9jYnFPb38zkp6fxRGpGTwcsPdLImusCurQtoZJ0/TqZ+CIisA4QcCTwyWtwyfe/RaIui3DQCAf4sVMhba+o989qcEXkHXOzD9pZMezFjfvq7tR2mUnbtF48rXRa1LI3Hivn1Hm3+FA8XsomIL35csrph6ZaQoAKEfzXAWo/UJi54X35VXYJiI6lQSD+8kQjj3Wbvu0UqGt8hi4PHHdyCtTeJC2s6YF+9mEE52m8RZ4f9jPJQS9ewTHAKnxgMcp8uu7TVOM5ezrEVQmYdyuIplfR0ToqBu7gkJ5UGSNfYuTL7XilhNwExkcSm15VZ6uawKzlrGKwrPtV31UWDTtZnrRR2yVId8fGySYmFoGDG5c4y/V9TdidK/cgHJoA0RQejZXsgZOyb0Q9wudcsjxWy7DOz/NWedSQd9gxWaqP39BgDussF65GPRdSgMhXIGBAIzX0y33rDGUZ+2P9qgpK/8jvDOwXqHHGOc2c+wi4i7Z/qcV+wIz3qjVniozmG0/g0KkJ92j1UqdUKINoWHhMtyF75md1lLLKLH8kYEQfYxKTqz9Zj7yWxQQbDZJvUvmOQBSimjYvxasZRjS+T99Ab4Uz9HYfDfXBgdQ2RSroDgpXbkvr/6lsh7AFyp1C6KnssEnz1claOSkcy5D3N5JYm065NNHt6jPI55c1PApz07Pc9VRWwUzrfGfRC5HCbsvvN1bdoTlRoZ99h00YSz5d14a9sVao4TIMkBrAR7n77BNuPsiDG5HLz8YxQLvbDBpCCRpfS2waj83dvUp5
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
