---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: proxmox-csi-plugin
  namespace: csi-proxmox
spec:
  encryptedData:
    config.yaml: AgBHeLNUkHjQJZtU+ZOGQRLUpvBZ0gUprSJUG/iX/ofHF0KgFTaDsJnYGxYlqZZ4CUjZpKtu3iNXyY5avxPCLmbG+PAvX7g53IOFHzp4xQK4X/08hD/vg6I7HfdoSDpXvOdPNWF08BDN8Z4SNirp+QVWQz1s3GPr1CDFl0ziGUnhadRE2Ss9H8ra4Ihs/rloDeoyisQN2CWoqfkgdTMkFwiSVzLW16oqBy3ZL+ee2JgKPCOhlGjVBT2u+kclfq4PTUBPmZw6bYjOgJU9Xq2a9EZieBl8FVPwNqtw0pEIljLGoVrzyImSt1Xi1oeAUKhAyJ2KXrcTUUTyyLmoTYkVJEVVVHFkVOrE1f+7Tl0DaOa2mnDSr6dtdg+ccBhVdlYmpFCIMe12Fyi/Ka/VZ2xmBkhO3Z4bXvBT6lkSw4fkoG3lPxmhaC26ZNSMzxJqw+f/Dd0k5QeeoVpskNigZwPeKBI3wc9Ayy22qHJRwHZpjk3Z41RtDoTovJlhm9/UK3GrNmAKYC9XsYS9MxR+HteVLL1Xeo8altDuIcSo1+UkpbEbGSLuMrf1QFHdJsaZB+9T4+V97n1iGtEOs3pbmqYNVDv4WOyjDwS1U2QAtEDQIKTIIBZKC509TB7AVVqhjmuamh0J1BNn0q5iElcjpHBZ14Cfw15/l2gohNQV5Ij2KiAW1G4xdOGX2DYv5Rm3MUpxP/8CvFdqyyULPP1ZOX+SYirjkce1D6p07jIC1SPSC7esXm//vEQ5qALBNTrh+WPhXQInF4YN9F3yfaSjXjmpWZsA3dxfDO5scq/hZeTX7W5tdhpyD+jNt4FFNov15PWtIF5sGRuJk3snlg==
  template:
    metadata:
      name: proxmox-csi-plugin
      namespace: csi-proxmox
